@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}
.page {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blue__container {
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0px 0px 30px 30px;
  background: linear-gradient(
    0deg,
    var(--Light-royal-blue) 10%,
    var(--Light-slate-blue)
  );
}

.your__score,
.evaluation {
  color: white;
}
.your__container,
.total__score,
.comment {
  color: var(--Light-lavender);
}
.circle {
  width: 120px;
  height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: linear-gradient(
    0deg,
    var(--Persian-blue),
    var(--Violet-blue) 90%
  );
}
.your__score,
.total__score {
  margin: 0;
}
.your__score {
  font-weight: 800;
  font-size: 3rem;
}
.total__score,
.comment {
  font-size: 16px;
}
.evaluation {
  font-size: 24px;
  margin: 10px 0 0 0;
}
strong {
  margin-left: 100px;
}
.item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 20px;
}
.img {
  margin: 0 10px 0 15px;
}
.reaction__box {
  background-color: #fff7f4;
}
.memory__box {
  background-color: #fffbf2;
}
.verbal__box {
  background-color: #f3fafa;
}
.visual__box {
  background-color: #f2f3fc;
}
.number {
  color: var(--Dark-gray-blue);
  margin-right: 15px;
}
.word__box {
  margin: 15px 0 15px 0;
}
.red {
  color: var(--Light-red);
}
.yellow {
  color: var(--Orangey-yellow);
}
.green {
  color: var(--Green-teal);
}
.purple {
  color: var(--Cobalt-blue);
}
