@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page {
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.blue__container {
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0px 0px 30px 30px;
  background: linear-gradient(
    0deg,
    var(--Light-royal-blue) 10%,
    var(--Light-slate-blue)
  );
}
.page {
}
.your__score,
.evaluation {
  color: white;
}
.your__container,
.total__score,
.comment {
  color: var(--Light-lavender);
}
.circle {
  width: 120px;
  height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: linear-gradient(
    0deg,
    var(--Persian-blue),
    var(--Violet-blue) 90%
  );
}
.your__score,
.total__score {
  margin: 0;
}
.your__score {
  font-weight: 800;
  font-size: 3rem;
}
.total__score,
.comment {
  font-size: 16px;
}
.evaluation {
  font-size: 24px;
  margin: 10px 0 0 0;
}
strong {
  margin-left: 100px;
}
.summary__box {
  width: 90%;
  margin: 0 30px 0 30px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 20px;
}
.img {
  margin: 0 10px 0 15px;
}
.box {
  border-radius: 20px;
  margin-top: 20px;
}
.text_with_icon {
  display: flex;
}
.reaction__box {
  background-color: #fff7f4;
}
.memory__box {
  background-color: #fffbf2;
}
.verbal__box {
  background-color: #f3fafa;
}
.visual__box {
  background-color: #f2f3fc;
}
.number {
  color: var(--Dark-gray-blue);
  margin-right: 15px;
}
.word__box {
  margin: 15px 0 15px 0;
}
.red {
  color: var(--Light-red);
}
.yellow {
  color: var(--Orangey-yellow);
}
.green {
  color: var(--Green-teal);
}
.purple {
  color: var(--Cobalt-blue);
}
.btn {
  width: 90%;
  margin: 20px 0 20px 0;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--Dark-gray-blue);
  color: var(--Pale-blue);
  height: 60px;
  border-radius: 30px;
}
@media (min-width: 768px) {
  body {
    height: 100vh;
  }
  .page {
    flex-direction: row;
    width: 750px;
  }
}
